.data/
reports/
node_modules/
graph-objects/
.DS_Store
coverage/
dist/
work/

/.build-stage/

.terraform/
*.tfstate

*.log
*.bak
*.bak.*
*.tmp

package-lock.json
.npmrc

.yalc/
yalc.lock

.vscode/
gpgkeys
